<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <div layout="row" layout-align="center center" flex>
        <div layout="row" layout-align="start center">
          <span class="mdi mdi-cube-send mdi-24px tc-indigo-400"></span>
        </div>

        <div class="size-width-12"></div>

        <div layout="row">
          <span class="md-subhead tc-indigo-400">sledz-paczke.pl</span>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div layout="column">
    <mat-card style="margin: 0; box-shadow: none;">
      <mat-card-header class="bgc-indigo-50">
        <mat-card-title>
          <div layout="row" layout-align="start center">
            <span class="mdi mdi-package-variant-closed mdi-24px tc-indigo-400"></span>
            <span class="size-width-12"></span>
            <span class="md-subhead tc-indigo-400">Monitorowanie przesyłek</span>

            <ion-badge>{{countPackages}}</ion-badge>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="bgc-indigo-400"></mat-divider>
      <mat-card-content style="padding: 0;">
        <mat-nav-list>
          <ng-template ngFor let-package let-last="last" [ngForOf]="packages" let-i="index + 1">
            <a mat-list-item [routerLink]="['/', 'package', package.number]">
              <img matListAvatar [src]="package.courier.icon" />
              <h3 matLine>{{package.name}}</h3>
              <span matLine class="tc-grey-600">{{package.number}}</span>
              <!-- <span matLine class="tc-grey-400">{{package.data.date | date:'dd-MM-yyyy HH:mm'}}</span> -->
              <span matLine class="tc-indigo-400" style="font-style: italic;">{{package.data.status.name}}</span>
              <span class="mdi {{checkStatusPackageIcon(package.data)}} mdi-24px"></span>
            </a>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-template>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button mini>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  
  <ion-fab-list side="top">
      <ion-fab-button (click)="barcode()">
        <ion-icon name="barcode" size="small"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['/', 'package', 'add']">
        <ion-icon name="create" size="small"></ion-icon>
      </ion-fab-button>
  </ion-fab-list>
</ion-fab>