<ion-app>
  <ion-split-pane>
    <ion-menu side="start">
      <ion-header translucent>
        <ion-toolbar>
          <ion-title>
            <span class="tc-indigo-400">Menu</span>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item [routerLink]="['/']">
              <span class="mdi mdi-home-outline mdi-24px tc-indigo-400"></span>
              <span class="size-width-12"></span>
              <ion-label text-wrap>
                <div layout="column">
                  <h2>START</h2>
                  <span class="md-caption tc-grey-600">Ekran główny aplikacji</span>
                </div>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item [routerLink]="['/', 'package', 'list']">
              <span class="mdi mdi-package-variant-closed mdi-24px tc-indigo-400"></span>
              <span class="size-width-12"></span>
              <ion-label text-wrap>
                <div layout="column">
                  <h2>Lista przesyłek</h2>
                  <span class="md-caption tc-grey-600">Monitorowanie statusu przesyłek</span>
                </div>
              </ion-label>
              <ion-badge item-end>{{countPackages}}</ion-badge>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item [routerLink]="['/', 'account']">
              <span class="mdi mdi-settings mdi-24px tc-indigo-400"></span>
              <span class="size-width-12"></span>
              <ion-label text-wrap>
                <div layout="column">
                  <h2>Ustawienia</h2>
                  <span class="md-caption tc-grey-600">Ustawienia konta aplikacji</span>
                </div>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
  