<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/', 'package', 'list']" text="Powrót"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <div layout="row" layout-align="center center" flex>
        <div layout="row" layout-align="start center">
          <span class="mdi mdi-cube-send mdi-24px tc-indigo-400"></span>
        </div>

        <div class="size-width-12"></div>

        <div layout="row">
          <span class="md-subhead tc-indigo-400">sledz-paczke.pl</span>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card style="margin: 0; box-shadow: none;">
    <mat-card-header class="bgc-indigo-50" style="margin: 0;">
      <img matCardAvatar [src]="package.courier.icon" />
      <mat-card-title>
        <div layout="column">
          <span class="md-subhead tc-indigo-600">{{package.name}}</span>
          <span>{{package.number}}</span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-divider class="bgc-indigo-400"></mat-divider>
    <mat-card-header *ngIf="address" class="bgc-grey-100" style="margin: 0;">
      <mat-card-title>
          <span>{{address.description}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <div layout="column">
          <span>{{address.line1}}</span>
          <span>{{address.line2}}</span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider *ngIf="address"></mat-divider>
    <mat-card-content style="padding: 0;">
      <mat-nav-list *ngIf="history.length > 0">
        <ng-template ngFor let-item let-last="last" [ngForOf]="history" let-i="index + 1">
          <a mat-list-item>
            <div matListAvatar layout="column" layout-align="center center">
              <span class="mdi {{checkStatusPackageIcon(item.status)}} mdi-24px" ></span>
            </div>
            <h3 matLine>{{item.datetime | date:'dd-MM-yyyy HH:mm'}}</h3>
            <span matLine class="tc-indigo-400" style="font-style: italic;">{{item.status.name}}</span>
          </a>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-template>
      </mat-nav-list>

      
      <mat-list *ngIf="history.length < 1">
        <mat-list-item>
          <div layout="column" layout-align="center center" flex>
            <span class="size-height-128"></span>
            <span class="mdi mdi-alert-circle-outline mdi-48px tc-orange-200"></span>
            <span>Brak historii przesyłki.</span>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ion-content>
    