<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/', 'package', 'list']" text="Powrót"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <div layout="row" layout-align="center center" flex>
        <div layout="row" layout-align="start center">
          <span class="mdi mdi-cube-send mdi-24px tc-indigo-400"></span>
        </div>

        <div class="size-width-12"></div>

        <div layout="row">
          <span class="md-subhead tc-indigo-400">sledz-paczke.pl</span>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card style="margin: 0; box-shadow: none;">
    <mat-card-content>
      <div layout="column">

        <div layout="row" layout-align="center center">
          <span class="mdi mdi-cube-send tc-indigo-400" style="font-size: 128px;"></span>
        </div>

        <form [formGroup]="formNumber" (ngSubmit)="onSubmit()">
        <div *ngIf="courier" layout="row" layout-align="center center">
          <img [src]="courier.icon" height="64" />
        </div>
        <div class="size-height-32"></div>

        <div layout="column">
          <mat-form-field appearance="fill">
            <mat-select placeholder="Kurier" formControlName="courier" [(ngModel)]="courier">
              <mat-option *ngFor="let courier of couriers" [value]="courier">
                <div layout="row" layout-align="start center">
                  <span class="md-subhead">{{courier.name}}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div layout="column">
          <mat-form-field appearance="fill">
            <mat-label>Twoja nazwa przesyłki</mat-label>
            <input matInput
                    placeholder="Wprowadź nazwę"
                    [(ngModel)]="name"
                    formControlName="name"
                    required />
            <mat-error *ngIf="formNumber.controls.name.invalid">{{getErrorMessage('name')}}</mat-error>
          </mat-form-field>
        </div>
        <div layout="column">
          <mat-form-field appearance="fill">
            <mat-label>Numer przesyłki</mat-label>
            <input matInput
                   placeholder="Wprowadź numer"
                   [(ngModel)]="number"
                   formControlName="number"
                   required />
            <mat-error *ngIf="formNumber.controls.number.invalid">{{getErrorMessage('number')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="size-height-24"></div>

        <div layout="column" layout-align="center center">
          <button mat-button type="submit"
                  class="bgc-indigo-200 tc-grey-200"
                  [ngClass]="{ 'bgc-indigo-200': formNumber.valid, 'bgc-grey-100': !formNumber.valid }"
                  [disabled]="!formNumber.valid">
            <div layout="row" layout-align="start center">
              <span class="mdi mdi-checkbox-marked-circle-outline mdi-18px tc-indigo-400"></span>
              <span class="pad-left-xs" 
                    [ngClass]="{ 'tc-indigo-200': !formNumber.valid, 'tc-grey-100': formNumber.valid }">Zatwierdź</span>
            </div>
          </button>
        </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</ion-content>
    