<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="bgc-indigo-50">
      <div layout="row" layout-align="center center" flex>
        <div layout="row" layout-align="start center">
          <span class="mdi mdi-cube-send mdi-24px tc-indigo-400"></span>
        </div>

        <div class="size-width-12"></div>

        <div layout="row">
          <span class="md-subhead tc-indigo-400">sledz-paczke.pl</span>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card style="margin: 0; box-shadow: none;">
    <mat-card-content>
      <div layout="column">

        <div layout="row" layout-align="center center">
          <span class="mdi mdi-cube-send tc-indigo-400" style="font-size: 128px;"></span>
        </div>

        <div layout="column" layout-align="center center" flex>
          <span class="pad-sm md-subhead">Czekasz na otrzymanie paczki?</span>
          <span class="md-subhead">Chcesz wiedzieć gdzie jest?</span>
          <span class="size-height-32"></span>
          <span class="pad-md md-subhead tc-indigo-600" style="text-align: center;">Rozpocznij śledzenie przesyłki.</span>
        </div>

        <div layout="row" layout-align="center center">
          <button mat-button class="bgc-indigo-50" [routerLink]="['/', 'package', 'add']">
            <div layout="row" layout-align="start center">
              <span class="mdi mdi-plus-circle mdi-18px tc-indigo-400"></span>
              <span class="pad-left-xs">Dodaj przesyłkę</span>
            </div>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ion-content>
  