<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <div layout="row" layout-align="center center" flex>
        <div layout="row" layout-align="start center">
          <span class="mdi mdi-cube-send mdi-24px tc-indigo-400"></span>
        </div>

        <div class="size-width-12"></div>

        <div layout="row">
          <span class="md-subhead tc-indigo-400">sledz-paczke.pl</span>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div layout="column">
    <mat-card style="margin: 0; box-shadow: none;">
      <mat-card-header class="bgc-indigo-50">
        <mat-card-title>
          <div layout="row" layout-align="start center">
            <span class="mdi mdi-settings mdi-24px tc-indigo-400"></span>
            <span class="size-width-12"></span>
            <span class="md-subhead tc-indigo-400">Ustawienia aplikacji</span>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="bgc-indigo-400"></mat-divider>
      <mat-card-content style="padding: 8px 0 0 0;">
        <ion-list no-border>
          <ion-list-header>
            <span>Połączenia</span>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label text-wrap>
              <div layout="column">
                <span class="md-subhead">Monitorowanie</span>
                <span class="md-body-1 tc-grey-600">Powiadamianie o zmianie statusów przesyłek</span>
              </div>
            </ion-label>
            <ion-toggle [(ngModel)]="autorefresh"></ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-label text-wrap>
              <div layout="column">
                <span class="md-subhead">Odświeżanie danych</span>
                <span class="md-body-1 tc-grey-600">Częstotliwość pobierania danych</span>
              </div>
            </ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions"
                        interface="action-sheet"
                        [value]="time"
                        placeholder="Ustaw czas"
                        cancelText="Anuluj">
              <ng-template ngFor let-time let-last="last" [ngForOf]="times" let-i="index + 1">
                <ion-select-option value="{{time.value}}">{{time.name}}</ion-select-option>
              </ng-template>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-label text-wrap>
              <div layout="column">
                <span class="md-subhead">Tylko przez Wi-Fi</span>
                <span class="md-body-1 tc-grey-600">Do monitorowania używaj tylko połączenia Wi-Fi</span>
              </div>
            </ion-label>
            <ion-toggle [(ngModel)]="onlywifi"></ion-toggle>
          </ion-item>
          <!-- <mat-list>
            <mat-list-item>
              <h3 matLine>Monitorowanie przesyłek</h3>
              <span matLine>Powiadamianie o zmianach statusów</span>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Odświeżanie danych</h3>
              <span matLine>Częstotliwość z jaką pobierać dane</span>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Tylko przez Wi-Fi</h3>
              <span matLine>Do monitorowania używaj tylko połączenia Wi-Fi</span>
            </mat-list-item>
          </mat-list> -->
        </ion-list>

        <ion-list>
          <ion-list-header>
            <span>Status połączeń</span>
          </ion-list-header>
          <mat-nav-list>
            <ng-template ngFor let-courier let-last="last" [ngForOf]="couriers" let-i="index + 1">
              <a mat-list-item>
                <img matListAvatar [src]="courier.icon" />
                <h3 matLine>{{courier.name}}</h3>
                <span matLine class="tc-grey-600" style="font-style: italic;">{{ checkStatus(courier) }}</span>
                <span class="mdi {{ checkStatusIcon(courier) }} mdi-24px"></span>
              </a>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-nav-list>
        </ion-list>
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>
